
.outer {
  width: 100%;  
  min-height: 100vh;
 
  display: flex;
 
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-image: url(img/11.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  
}
.wrap-login{
  opacity: 0.8;	
  width: 50%;
  border-radius: 50px;  
  padding: 55px 55px 37px 55px; 
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
}

.login-form-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 10%;
  background-color: #fff;
  margin: 0 auto;
}

.login-title {  
  font-size: 30px;
  color: #fff; 
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.wrap-input {
  width: 100%;
  position: relative;

  margin-bottom: 30px;

}
.input {
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #000000;
  

  width: 100%;
  height: 45px;
 
  padding: 0 5px 0 38px;
}




.login-form-btn {
 
  font-size: 16px;
  color: black;
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;

}
/*create account*/
.login-form-logo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 80px;
  border-radius: 10%;
  background-color: #fff;
  margin: 0 auto;
}
/*create account*/
@media only screen and (max-width: 1000px) {

.wrap-login{
  width: 100%;
 height: 90vh;
  padding: 0px 0px 0px 0px;


}
}
